html, body, .wrapper { height: 100%; margin: 0; padding: 0; }
body > .wrapper { height: auto; min-height: 100%; }
#content { padding-bottom: 200px; }
#footer { clear: both; position: relative; z-index: 10; height: 150px; margin-top: -150px; }

#header a {
    color: #888;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 0.6em;
}

#header a:hover {
    color: #222;
    text-decoration: none;
}

.table tbody>tr>th, .table tbody>tr>td {
    border-top: 1px dashed #f7f7f7;
}

.num {
    color: #888;
    font-size: 0.9em;
}

/* Charts */
.chart .this .bar {
    fill: #fc84dd;
}

.chart .all .bar {
    fill: #eee;
}


.chart .domain {
    shape-rendering: crispEdges;
    fill: none;
    stroke: #999;
    stroke-width: 1;
}

.chart .tick line {
    shape-rendering: crispEdges;
    fill: none;
    stroke: #999;
    stroke-width: 1;

}

.chart .tick text {
    fill: #777;
    font-size: 12px;
    font-family: monospace;
}


/* Footer */

#footer {
	background: #f7f7f7;
	padding-top: 20px;
    font-size: 0.9em;
}


div.ui-datepicker{
 font-size:11px;
}

