<!doctype html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
  <link href="/resources/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
  <link href="/resources/css/style.css" rel="stylesheet">
  <script src="/resources/js/jquery-2.0.3.min.js"> </script>
  <script src="/resources/js/bootstrap.min.js"> </script>
  <script src="/resources/js/jquery-ui-1.10.3.custom.min.js"> </script>
  <script src="/resources/js/jquery-ui-timepicker-addon.min.js"> </script>
  {% block head %}{% endblock %}
 <title>Edit Sounding Rocket Data</title>
 </head>
 <body>
  <div class="wrapper">
   <div id="header">
    <div class="container">
      <h1><a href="/">Edit Sounding Rocket Data</a></h1>
    </div>
   </div>
   <div id="content">
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
   </div>
  </div>
  <div id="footer">
   <div class="container">
    <a class="pull-right" href="#">Back to top</a>
   </div>
  </div>
 </body>
</html>

