{% extends "base.html" %}
{% block content %}

<h2>{% if name is not none %}Edit {{ entrytype }}: {{ name }}{% else %}Create New {{ entrytype }}{% endif %}</h2>

<div class="row">
 <div class="col-lg-10">

  {% if updated %}
    <div id="updatesucess" class="alert alert-success"><strong>Success!</strong> record updated.</div>
    <script>setTimeout(function(){$("#updatesucess").fadeOut("slow");}, 2000);</script>
  {% endif %}

  <form role="form" method="post" class="form-horizontal">
    {% for meta in fields %}
      <div class="form-group">
        <label for="{{ model }}{{ meta.key }}" class="col-lg-2 control-label">{{ meta.title }}:</label>

        {% if meta.type == 'short' %}
            <div class="col-lg-10">
              <input name="{{ model }}.{{ meta.key }}" type="text" class="form-control" id="{{ model }}{{ meta.key }}" value="{{ meta.val }}">
            </div>

        {% elif meta.type == 'number' %}
            <div class="col-lg-2">
              <input name="{{ model }}.{{ meta.key }}" type="number" min="0" max="110" step="0.01" class="form-control input-sm" id="{{ model }}{{ meta.key }}" value="{{ meta.val }}">
            </div>
            <p class="units form-control-static col-lg-3">[{{ meta.units }}]<p>

        {% elif meta.type == 'text' %}
            <div class="col-lg-10">
              <textarea name="{{ model }}.{{ meta.key }}" class="form-control" id="{{ model }}{{ meta.key }}" rows="10">{{ meta.val }}</textarea>
            </div>

        {% endif %}

      </div>
    {% endfor %}

    <div class="col-lg-offset-2">
      <button type="submit" class="btn btn-primary">{% if name is not none %}Update{% else %}Create{% endif %}</button>
    </div>
  </form>

 </div>
</div>

{% endblock %} 
