{% extends "base.html" %}
{% block content %}
<h3>All Records</h3>
<table class="table">
 <thead>
  <tr><th>ID</th><th>Designation</th><th>Date</th><th>Launch Vehicle</th><th>Launch Site</th><th> </th></tr>
 </thead>
 <tbody>
  {% for launch in launches %}
  <tr>
    <td>{{ launch.id }}</td>
    <td>{{ launch.designation }}</td>
    <td>{{ launch.time }}</td>
    <td><a href="/vehicle/{{ launch.vehicle.id }}">{{ launch.vehicle.name }}</a></td>
    <td>{{ launch.site.name }}</td>
    <td><button type="button" class="btn btn-default btn-xs pull-right">Edit</button></td>
  </tr>
 {% endfor %}
 </tbody>
</table>
{% endblock %}
