{% extends "base.html" %}
{% block content %}
<h2>Edit {{ vehicle.name }} (id:{{ vehicle.id }})</h2>
<div class="row">
 <div class="col-lg-8">
  {% if updated %}
    <div id="updatesucess" class="alert alert-success"><strong>Success!</strong> record updated.</div>
    <script>setTimeout(function(){$("#updatesucess").fadeOut("slow");}, 2000);</script>
  {% endif %}
  <form role="form" method="post">
   <div class="form-group">
    <label for="vehicle.name">Name</label>
    <input name="vehicle.name" type="text" class="form-control" id="vehicle.name" value="{{ vehicle.name }}">
   </div>
   <div class="form-group">
    <label for="vehicle.desc">Article</label>
    <textarea name="vehicle.desc" class="form-control" id="vehicle.desc" rows="10">{{ vehicle.desc }}</textarea>
   </div>

   <button type="submit" class="btn btn-default">Update</button>
  </form>
 </div>
</div>
{% endblock %} 
